/* =================================
   TASKFORGE LAYOUT
================================= */

.taskforge-layout {
    min-height: 100vh;
    background: #FFFFFF;
}

main {
    width: 100%;
}


/* =================================
   TASKFORGE NAVBAR
================================= */

.taskforge-navbar {
    width: 100%;
    background: #0F172A;
    border-bottom: 1px solid #1E293B;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.taskforge-nav-container {
    max-width: 1200px;
    height: 72px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskforge-logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: #FFFFFF;
}

.taskforge-logo span {
    color: #F97316;
}

.taskforge-nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.taskforge-nav-links a {
    text-decoration: none;
    color: #CBD5E1;
    font-size: 15px;
    font-weight: 500;
}

.taskforge-nav-links a:hover {
    color: #FFFFFF;
}

.taskforge-nav-button {
    background: #F97316;
    color: #FFFFFF !important;
    padding: 11px 20px;
    border-radius: 8px;
}

.taskforge-nav-button:hover {
    background: #EA580C;
}


/* =================================
   BLazor ERROR MESSAGE
================================= */

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/* =================================
   MOBILE NAVIGATION
================================= */

@media (max-width: 700px) {

    .taskforge-nav-container {
        height: 65px;
        padding: 0 16px;
    }

    .taskforge-nav-links {
        gap: 12px;
    }

    .taskforge-nav-links a:not(.taskforge-nav-button) {
        display: none;
    }

}

/* =================================
   USER PROFILE
================================= */


.user-profile-button {
    background: #F97316;
    padding: 11px 20px;
    border: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600 !important;
    cursor: pointer;
    color: #FFFFFF !important;
    border-radius: 8px;
}

.logout-btn {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
}

.logout-btn:hover {
    background: #EA580C;
}