/* =================================
   TASKFORGE NAVBAR
================================= */

.taskforge-navbar {
    width: 100%;
    background: #0F172A;
    border-bottom: 1px solid #1E293B;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.taskforge-nav-container {
    max-width: 1200px;
    height: 72px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskforge-logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: #FFFFFF;
}

.taskforge-logo span {
    color: #F97316;
}

.taskforge-nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.taskforge-nav-links a {
    text-decoration: none;
    color: #f1ead5 !important;
    font-size: 20px;
    font-weight: 800;
}

.taskforge-nav-links a:hover {
    color: #FFFFFF !important;
    background: #1E293B;
}

.taskforge-nav-button {
    background: #F97316;
    color: #FFFFFF !important;
    padding: 11px 20px;
    border-radius: 8px;
}

.taskforge-nav-button:hover {
    background: #EA580C;
}

/* =================================
   NAV USER PROFILE
================================= */

.nav-user-link {
    color: #FDBA74 !important;
    font-weight: 600 !important;
    border-radius: 8px;
}

.nav-user-link:hover {
    color: #FFFFFF !important;
    background: #1E293B;
}